/* Variables */
:root {
  --danger-color: #FF4136;
  --warning-color: #FF851B;
  --success-color: #3D9970;
  --passive-color: #0074D9;
  --light-border: #d0d4d9;
  --dark-border: #5c504f;
  --dark-color: #000000;
  --dark-blue-color: #000033;
  --light-color: #f6f9fc;
  --medium-color: #DDDDDD;
  --light-contrast-color: lightgoldenrodyellow;
}

/* Elements */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
}

main {
  padding: 50px;
  max-height: 1080px;
}

section {
}

table {
  background-color: var(--light-color);
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--dark-border);
  border-radius: 5px;
  padding: 10px;
  font-size: 90%;
}

table td, table th {
  text-align: left;
  padding: 9px 0;
}

th {
  border-bottom: 1px solid var(--dark-border);
}

footer {
  display: none;
}

article {
  margin-bottom: 50px;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 20px;
}

@page {
  size: auto;
  margin: 10%;
}

/* Media */
@media print {
  html {
    font-size: 170%;
  }

  body
  {
    margin: 25mm 25mm 25mm 25mm;
  }

  header {
    page-break-after: always;
    margin-top: 40%;
  }

  main {
    padding: 100px;
  }

  article {
    page-break-inside: avoid;
    margin-top: 5rem;
  }

  footer {
    display: inline;
    position: fixed;
    bottom: 0;
    font-size: 14px;
  }
}

/* Custom */
#appendix-b th:first-child {
  width: 4vw;
}

#appendix-b th:nth-child(2) {
  width: 15vw;
}

#appendix-b th:nth-child(3) {
  width: 12vw;
}

#appendix-b th:nth-child(5) {
  width: 12vw;
}

#appendix-a th:first-child {
  width: 4vw;
}

#appendix-a th:nth-child(2) {
  width: 15vw;
}

#appendix-a th:nth-child(3) {
  width: 60vw;
}

.list > div {
  padding: 10px 0;
}

.list .title {
}

.prio-high {
  color: var(--danger-color);
  font-weight: bold;
}

.prio-medium {
  color: var(--warning-color);
  font-weight: bold;
}

.prio-low {
  color: var(--success-color);
  font-weight: bold;
}


/* Decorators */
.type-perceivable, .type-acc {
  color: var(--danger-color);
  font-weight: bold;
}

.type-operable, .type-usa {
  color: var(--warning-color);
  font-weight: bold;
}

.ind-comp, .type-tech {
  color: var(--success-color);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.remark {
  padding: 10px;
  background-color: var(--light-contrast-color);
  border-bottom: var(--light-border) solid 1px;
}